bypy==1.8
certifi==2022.9.24
charset-normalizer
clip
dill
einops
ftfy
idna
multiprocess
numpy
opencv-python
pandas
Pillow
python-dateutil
pytz
PyYAML
regex
requests
requests-toolbelt
scipy
six
torch
torchaudio
torchvision
tqdm
typing_extensions
urllib3
wcwidth
